In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# df_IL_2012 = pd.read_csv('IL_2012.csv')
# df_IL_2013 = pd.read_csv('IL_2013.csv')
# df_IL_2014 = pd.read_csv('IL_2014.csv')
# df_IL_2015 = pd.read_csv('IL_2015.csv')
# df_IL_2016 = pd.read_csv('IL_2016.csv')
df_IL_2017 = pd.read_csv('IL_2017.csv')
# df_IL_2012_2013 = pd.concat([df_IL_2012,df_IL_2013])
# df_IL_2012_2013.describe(include='all')
# df_IL_2012_2013.tail()
df_IL_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17952 entries, 0 to 17951
Data columns (total 23 columns):
Partner Name               17952 non-null object
Impl License Status        17952 non-null object
Statement #                17952 non-null object
Trans. End Date            17952 non-null object
Sold Quarter               17952 non-null object
Qty                        17952 non-null int64
Rptd. Customer             17952 non-null object
Orig. Res, Customer        17789 non-null object
Res. Customer              17789 non-null object
Customer License Status    17789 non-null object
Rptd. Item                 17952 non-null object
Res. Item #                17011 non-null object
Rptd. Sale Country Name    17952 non-null object
Sale Sub-Region            17817 non-null object
Rptd. Distributor          11244 non-null object
Trans. #                   17952 non-null object
Royalty Type               17952 non-null object
Transaction Status         17952 non-null object
Claim Stage                1696 non-null object
Eval/Sample Distributed    165 non-null object
Comments                   126 non-null object
SF Entity Id               17952 non-null int64
SAP Entity ID              17946 non-null float64
dtypes: float64(1), int64(2), object(20)
memory usage: 3.2+ MB

In [3]:
df_IL_2017.rename(columns={'Partner Name':'Partner_Name','Statement #':'Statement_ID',
                           'Sold Quarter':'Sold_Quarter','Rptd. Customer':'Rptd_Customer', 
                           'Res. Customer':'Res_Customer','Rptd. Item':'Rptd_Item',
                           'Res. Item #':'Res_Item','Rptd. Distributor':'Rptd_Distributor',
                           'Royalty Type':'Royalty_Type'},inplace=True)

df_IL_2017.fillna('Blank',inplace=True)

In [4]:
df_IL_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17952 entries, 0 to 17951
Data columns (total 23 columns):
Partner_Name               17952 non-null object
Impl License Status        17952 non-null object
Statement_ID               17952 non-null object
Trans. End Date            17952 non-null object
Sold_Quarter               17952 non-null object
Qty                        17952 non-null int64
Rptd_Customer              17952 non-null object
Orig. Res, Customer        17952 non-null object
Res_Customer               17952 non-null object
Customer License Status    17952 non-null object
Rptd_Item                  17952 non-null object
Res_Item                   17952 non-null object
Rptd. Sale Country Name    17952 non-null object
Sale Sub-Region            17952 non-null object
Rptd_Distributor           17952 non-null object
Trans. #                   17952 non-null object
Royalty_Type               17952 non-null object
Transaction Status         17952 non-null object
Claim Stage                17952 non-null object
Eval/Sample Distributed    17952 non-null object
Comments                   17952 non-null object
SF Entity Id               17952 non-null int64
SAP Entity ID              17952 non-null object
dtypes: int64(2), object(21)
memory usage: 3.2+ MB

In [5]:
def cust_status(status):
    Rptd_Customer, Res_Customer, Comments = status
        
    if Rptd_Customer == 'Blank'and Res_Customer == 'Blank':
        return 'Resolved'
    elif Rptd_Customer != 'Blank'and Res_Customer == 'Blank' and Comments == 'Blank':
        return 'Not resolved'
    elif Rptd_Customer != 'Blank'and Res_Customer == 'Blank' and Comments != 'Blank':
        return 'Resolved'
    else:
        return 'Resolved'

# def item_status(status):
#     Rptd_Item, Res_Item = status
    
#     if Rptd_Item == 'Blank' and Res_Item == 'Blank':
#         return 'Resolved'
#     elif Rptd_Item != 'Blank' and Res_Item == 'Blank':
#         return 'Not resolved'
#     else:
#         return 'Resolved'

In [6]:
df_IL_2017['Res_Cust_Status'] = df_IL_2017[['Rptd_Customer','Res_Customer','Comments']].apply(cust_status, axis=1)
# df_IL_2017['Res_Item_Status'] = df_IL_2017[['Rptd_Item','Res_Item']].apply(item_status, axis=1)

In [7]:
df_IL_2017.head(2)

,Partner_Name,Impl License Status,Statement_ID,Trans. End Date,Sold_Quarter,Qty,Rptd_Customer,"Orig. Res, Customer",Res_Customer,Customer License Status,...,Rptd_Distributor,Trans. #,Royalty_Type,Transaction Status,Claim Stage,Eval/Sample Distributed,Comments,SF Entity Id,SAP Entity ID,Res_Cust_Status
0,ALI CORPORATION,Active,IL-2018005831,31-Dec-17,2017-Q4,10800,ABOX42 GMBH,ABOX42 GMBH,ABOX42 GMBH,Active,...,YOSUN,POS-521518,IL Report,Closed,Blank,Blank,Blank,2030,105427,Resolved
1,ALI CORPORATION,Active,IL-2018005831,31-Dec-17,2017-Q4,225,ABOX42 GMBH,ABOX42 GMBH,ABOX42 GMBH,Active,...,YOSUN,POS-521519,IL Report,Closed,Blank,Blank,Blank,2030,105427,Resolved

In [8]:
df_IL_2017Agg = df_IL_2017.groupby(['Partner_Name','Res_Cust_Status'])['Qty'].agg(['sum','count'])

In [9]:
# df_IL_2017Agg
# df_IL_2017.to_csv('IL_2017_results.csv')
# df_IL_2017Agg.to_csv('IL_2017_aggregated.csv')

In [3]:
from IPython.html import widgets 
from IPython.display import display, clear_output

import plotly.plotly as py
from plotly.graph_objs import *
import plotly
from plotly.widgets import GraphWidget

ImportError: No module named widgets